/* search by tank */
/* layout */
html body .main {font-family:\5FAE\8F6F\96C5\9ED1,Tahoma,Verdana;color:#333;}
.main a:link,.main a:visited{ color:#317ee7;text-decoration:none;}
.main a:hover,.main a:active{ color:#317ee7;text-decoration:underline;}
.main .wrap_btn a:link,
.main .wrap_btn a:visited{color:#317ee7;text-decoration:none;}
.main .wrap_btn a:hover {color:#317ee7;text-decoration:underline;}
.btn_strong {vertical-align:middle;padding:0px 10px;}
.btn_common {vertical-align:middle;padding:0px 9px;}
.main .wrap_btn a.btn_strong:link, .main .wrap_btn a.btn_strong:visited, 
.main .id_mod_password a.btn_strong, .main .id_mod_password a.btn_strong:link, .main .id_mod_password a.btn_strong:visited, 
.main .id_mod_password a.btn_strong:hover, .main .id_mod_password a.btn_strong:active {color:#FFFFFF;}
.main .wrap_btn a.btn_strong:hover {text-decoration:none;}
.main a.btn_common:link,
.main a.btn_common:visited,
.main .wrap_btn a.btn_common:link{ color:#333333;}
.main a.btn_strong:hover {color:#FFF;text-decoration:none;}
.main a.btn_common:hover {color:#333;text-decoration:none;}

.layout_row3 .i_sidebar { width:145px; }
.layout_row3 .i_content { width:825px;padding-top:12px;}
.layout_row3 .i_content .i_col1 { width:585px; }
.layout_row3 .i_content .i_col2 { width:225px; }
.wrap_mycenter{padding-top:15px}
/* 浮层-修改提示 */
.wrap_mycenter .para_blo {margin-top:-15px;}
/*地址提交按钮格式*/
.btn_common{font-weight:bold;margin-left:15px}
.btn_common,.btn_common:link,.btn_common:visited{height:22px;padding:0 18px;background-position:left -520px;border:1px solid #CDCDCD;font:normal 12px/22px Arial;line-height:24px\9}
.btn_common:hover,.btn_common:active{background-position:left -544px}
/* mod_kong */
.mod_kong { margin-bottom:10px; position:relative; }
.mod_kong .mod_hd h3 { font-size:14px; line-height:26px; }
.mod_kong .mod_hd .mod_hd_tips{ font-size:12px; font-weight:normal;}
.mod_kong .extra { position:absolute; top:3px; right:0; }

/* 收货信息管理 s */
.id_mod_receive .id_table_nobor .col4 {width:18%;}
.id_mod_receive .id_table_nobor .col5 {width:18%;}
.id_mod_receive .id_table_nobor .col1 {width:100px;}
.id_mod_receive .id_table_nobor .col2 {width:auto;}
.id_mod_receive .id_table_nobor .add_adress td { padding:10px 5px 0 5px; border-bottom:none; text-align:left}
.id_mod_receive .id_table_nobor .add_adress .list_info{ background:#f3f3f3; border:1px solid #d7d7d7; }
.id_mod_receive .break .other_info p{ width:500px;}
.id_mod_receive .btn_common{margin-bottom:1px;}

/* mod_sidebar */
.wrap_menu { background:#f3f3f3; border:1px solid #d7d7d7;/* padding:0 15px 10px 15px; */ padding-bottom:10px;}
.mod_menu .mod_hd { margin:15px 0px 0px 15px;}
.mod_menu .mod_hd h3 { font-size:14px; color:#333; }
.mod_menu .mod_hd .mod_hd_tips{ font-size:12px;}
.mod_menu .mod_bd { padding-top:5px; }
.mod_menu .mod_bd .list_menu li {padding:5px 0px 5px 25px;}
.mod_menu .mod_bd .list_menu li .wrap_new {position:relative;}
.mod_menu .mod_bd .list_menu li .new {position:absolute;top:-10px;left:1px;width:17px;height:20px;background:url(../../img/mycenter/myorder_tip.png) no-repeat 0 -36px;}
.mod_menu .mod_bd .list_menu li a:link,
.mod_menu .mod_bd .list_menu li a:visited {color:#555;}
.mod_menu .mod_bd .list_menu li a:hover {color:#D4105A;}
.mod_menu .mod_bd .status_hover{ background:#3165b0 none scroll 0 0; }
.mod_menu .mod_bd li.status_hover a:link,
.mod_menu .mod_bd li.status_hover a:visited { color:#FFF; }

/* 蓝边表格 s */
.table_biao { border:1px solid #d7d7d7; border-top:1px solid #3164af; width:100%; margin-bottom:10px; }
.table_biao thead { font-size:12px; text-align:left; }
.table_biao thead th { background:#f3f3f3; padding:5px; text-align:left;font-weight:normal;font-family:"\5FAE\8F6F\96C5\9ED1";}
.table_biao tbody { text-align:left; }
.table_biao .center{text-align:center;}
.table_biao .middle{vertical-align:middle;}
.table_biao tbody td { padding:5px; vertical-align:top;word-wrap: break-word; word-break: normal; }
.table_biao .left { text-align:left; }
.table_biao .right { text-align:right; }
.table_biao .bold{ font-weight:bold;}
.table_biao .wrap_btn{ margin-bottom:-10px;}
.table_biao .other_info p{word-wrap: break-word; word-break: normal;}
.table_biao .other_info p.escription a {color:#333;}
.table_biao .m_s_icon {display:inline-block;width:13px;height:16px;margin-right:5px;margin-left:0;vertical-align:middle;*vertical-align:-1px;_vertical-align:1px;overflow:hidden;background:url(../../img/m_icon.png) no-repeat -62px 0;}
.table_biao p.kong{ text-align:center; padding:20px;white-space:nowrap;}

/* 信息填写 s */
.list_info{padding:10px 0 5px 0;_position:relative;_margin-top:20px;#padding-bottom:15px;}
.list_info li{ height:26px; line-height:26px; margin-bottom:15px; padding-left:85px; position:relative;}
.list_info .tit{ position:absolute; left:0px; display:inline-block; float:left; width:70px; text-align:right; padding-right:10px; zoom:1;} 
.list_info .btn_common{vertical-align:middle;}
.list_info .input_short{ width:160px;}
.list_info .input_long{ width:343px;}
.list_info .input_shorter{margin:0 3px; height:20px; line-height:20px; width:128px;}
.list_info .interval{ display:inline-block; margin-right:10px;}
.add_adress a.bt_nor {display:inline-block;height:24px;vertical-align:middle;margin-top:-1px;}
.add_adress a.bt_nor span {display:block;_display:inline;line-height:24px;line-height:27px\9;}
.add_adress a.bt_nor:hover {text-decoration:none;}
.add_adress .list_info .wrap_btn a {display:inline-block;vertical-align:middle;margin-top:0px;height:24px;line-height:27px\9;}

/* 普通列表 s */
.list_nor { line-height:22px; padding-top:5px; }
.list_nor a:link,
.list_nor a:visited{ color:#555555;}