<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- 类似定义logger节点打印具体类，或某包中的指定级别以上日志 <logger name="common.TestLog4j"> <level 
		value="debug" /> [color=red] <appender-ref ref="console" /> [/color] </logger> -->

	<!-- 和logger节点功能差不多，打印具体类，或某包中的指定级别以上日志 <category name="common.TestLog4j"> 
		<priority value="warn"/> </category> -->


	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<!--param name="Threshold" value="INFO" 为打印logger 去掉Threshold参数配置 / -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="【SocialMarketing】 %d{ABSOLUTE} %-5p %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${socialmarketing.root}/WEB-INF/logs/ExtSNS.log" />
		<!--日志过滤门槛，记录warn以上级别日志 -->
		<param name="Threshold" value="WARN" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %m %n" />
		</layout>
	</appender>
	<!-- 
	<logger name="org.springframework">
		<level value="debug" />
	</logger>
	 -->
	 <logger name="org.apache.pluto">
		<level value="debug" />
	</logger>
	<root>
		<!-- root 整体设置过滤优先级，如果appender 没有设置filter或Threshold 默认采用该级别，定义的logger不在其中（即不会被过滤掉）。 -->
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>  