<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${socialmarketing.root}/WEB-INF/logs/ExtSNS.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

	<root level="trace">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>