@CHARSET "UTF-8";

html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #111111;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, i, strong, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
ul, ol {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: baseline;
}
sub {
    vertical-align: baseline;
}
legend {
    color: #000000;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
a {
    cursor: pointer;
}
a:link {
    color: #3377AA;
    text-decoration: none;
}
a:visited {
    color: #666699;
    text-decoration: none;
}
a:hover {
    background: none repeat scroll 0 0 #3377AA;
    color: #FFFFFF;
    text-decoration: none;
}
a:active {
    background: none repeat scroll 0 0 #FF9933;
    color: #FFFFFF;
    text-decoration: none;
}
a img {
    border-width: 0;
    vertical-align: middle;
}
body, td, th {
    font: 12px/1.62 Arial,Helvetica,sans-serif;
}
table {
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
wbr:after {
    content: "​";
}
textarea {
    resize: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: 0 none;
}
ol {
    padding: 0 0 0 20px;
}
textarea {
    font-family: Arial;
    overflow: auto;
}
input {
    font-size: 12px;
}
.clearfix {
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.ll {
    float: left;
}
.rr {
    float: right;
}
.pl {
    color: #666666;
    font: 12px/150% Arial,Helvetica,sans-serif;
}
.pl2 {
    color: #666666;
    font: 14px/150% Arial,Helvetica,sans-serif;
}
.l2 {
    font: 14px/150% Arial,Helvetica,sans-serif;
}
.alert {
    background-color: #FFF6EE;
    border: 1px solid #CCCCCC;
}
.attn {
    color: #FF3300;
}
.hidden {
    display: none;
}
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}
.greyinput {
    color: #CCCCCC;
}
.gact {
    color: #BBBBBB;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.gact a:link, a.gact:link {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.gact a:visited, a.gact:visited {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.gact a:hover, a.gact:hover {
    background-color: #773333;
    border-color: #FF9999 #FF3333 #FF3333 #FF9999;
    border-left: 1px solid #FF9999;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}
.show {
    display: block;
}
.hide {
    display: none;
}
a.processing:link, a.processing:visited {
    color: #666666;
}
a.processing:hover, a.processing:active {
    background-color: #666666;
    color: #FFFFFF;
}
textarea {
    resize: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: 0 none;
}
form {
    border: 0 none;
    margin: 0;
    padding: 0;
}
fieldset {
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
    padding: 0 10px;
}
fieldset legend {
    color: #666666;
    padding: 0 5px;
}
input {
    margin-right: 3px;
    vertical-align: middle;
}
label {
    font-family: Tahoma;
    vertical-align: middle;
}
.mod {
    margin-bottom: 35px;
    width: auto;
}
.mod:after {
    clear: both;
    content: " ";
    display: block;
}
.aside .mod {
    margin-bottom: 40px;
    word-break: break-all;
}
#wrapper {
    margin: 0 auto;
    width: 950px;
}
#content {
    min-height: 420px;
}
#footer {
    border-top: 1px dashed #DDDDDD;
    color: #999999;
    margin: 40px 0 20px;
    overflow: hidden;
    padding-top: 6px;
}
.grid-16-8 .article {
    float: left;
    padding-right: 40px;
    width: 590px;
}
.grid-16-8 .article .switch-to-shuo {
    float: right;
    margin-top: -45px;
}
.grid-16-8 .article .switch-to-shuo a {
    background: url("/pics/switch_to_shuo.png") no-repeat scroll left top transparent;
    display: block;
    height: 38px;
    width: 134px;
}
.grid-16-8 .article .switch-to-shuo a:hover {
    background-position: left -38px;
}
.grid-16-8 .article .switch-to-shuo a:active {
    background-position: left -76px;
}
.grid-16-8 .aside {
    float: right;
    width: 310px;
}
.grid-4-14-6 .nav {
    float: left;
    margin-right: 10px;
    width: 150px;
}
.grid-4-14-6 .article {
    float: left;
    padding-right: 10px;
    width: 540px;
}
.grid-4-14-6 .aside {
    float: right;
    width: 230px;
}
.extra {
    clear: both;
    text-align: right;
}
#footer .gray-link a:link, #footer .gray-link a:visited, #footer .gray-link a:active {
    background: none repeat scroll 0 center transparent;
    color: #999999;
}
#footer .gray-link a:hover {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}
#footer .blue-link a:link, #footer .blue-link a:visited, #footer .blue-link a:active {
    background: none repeat scroll 0 center transparent;
    color: #336699;
}
#footer .blue-link a:hover {
    background: none repeat scroll 0 0 #003399;
    color: #FFFFFF;
}
h1 {
    color: #494949;
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 15px;
    word-wrap: break-word;
}
h2 {
    color: #007722;
    font: 15px/150% Arial,Helvetica,sans-serif;
    margin: 0 0 12px;
}
h3 {
    background-color: #F2FBF2;
    color: #666666;
    font: 14px/1.62 Arial,Helvetica,sans-serif;
    height: 26px;
    margin-bottom: 1px;
    margin-left: 4px;
}
h3 img {
    margin: 1px 1px 0 0;
}
h4 {
    background-color: #F2FBF2;
    color: #666666;
    font: 12px/1.62 Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 0 0 10px 4px;
    overflow: hidden;
}
.obu {
    display: inline;
    float: left;
    margin: 0 0 10px;
    width: 76px;
}
.obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.obu dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.bigstar50, .bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar05, .bigstar00 {
    background: url("/pics/movie/bigstars.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    margin: 1px 0 0;
    overflow: hidden;
    width: 75px;
}
.bigstar50 {
    background-position: 0 0;
}
.bigstar45 {
    background-position: 0 -14px;
}
.bigstar40 {
    background-position: 0 -28px;
}
.bigstar35 {
    background-position: 0 -42px;
}
.bigstar30 {
    background-position: 0 -56px;
}
.bigstar25 {
    background-position: 0 -70px;
}
.bigstar20 {
    background-position: 0 -84px;
}
.bigstar15 {
    background-position: 0 -98px;
}
.bigstar10 {
    background-position: 0 -112px;
}
.bigstar05 {
    background-position: 0 -126px;
}
.bigstar00 {
    background-position: 0 -140px;
}
.allstar50, .allstar50, .allstar45, .allstar40, .allstar35, .allstar30, .allstar25, .allstar20, .allstar15, .allstar10, .allstar05 {
    background: url("/pics/movie/midstars.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 11px;
    margin: 0 3px 0 0;
    overflow: hidden;
    width: 55px;
}
.allstar50 {
    background-position: 0 0;
}
.allstar45 {
    background-position: 0 -11px;
}
.allstar40 {
    background-position: 0 -22px;
}
.allstar35 {
    background-position: 0 -33px;
}
.allstar30 {
    background-position: 0 -44px;
}
.allstar25 {
    background-position: 0 -55px;
}
.allstar20 {
    background-position: 0 -66px;
}
.allstar15 {
    background-position: 0 -77px;
}
.allstar10 {
    background-position: 0 -88px;
}
.allstar05 {
    background-position: 0 -99px;
}
.starstop, .stars {
    background: url("/pics/movie/smlstars.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 9px;
    margin: 3px 3px 0 0;
    overflow: hidden;
    width: 45px;
}
.stars5 {
    background-position: 0 0;
}
.stars4 {
    background-position: 0 -9px;
}
.stars3 {
    background-position: 0 -18px;
}
.stars2 {
    background-position: 0 -27px;
}
.stars1 {
    background-position: 0 -36px;
}
.infobox {
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
}
.infobox h2 {
    margin-top: 0;
}
.infobox form {
    margin: 0;
}
.infobox .ex2, .infobox .ex1 {
    background: url("/pics/info_bg.png") no-repeat scroll 100% 0 transparent;
    clear: both;
    font-size: 0;
    height: 5px;
    line-height: 0;
    margin-left: 5px;
}
.infobox .ex2 span, .infobox .ex1 span {
    background: url("/pics/info_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 5px;
    margin-left: -5px;
    overflow: hidden;
    position: relative;
    width: 5px;
}
.infobox .ex2 {
    background-position: 100% -5px;
}
.infobox .ex2 span {
    background-position: 0 -5px;
}
.infobox .bd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFF6ED;
    border-color: #FAEFE3;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    padding: 4px 9px;
    word-wrap: break-word;
}
.infobox .bd:after {
    clear: both;
    content: " ";
    display: block;
}
.ul {
    border-bottom: 1px dashed #DDDDDD;
    clear: both;
    line-height: 100%;
}
.paginator {
    color: #AAAAAA;
    font: 14px/150% Arial,Helvetica,sans-serif;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
.paginator a, .thispage, .break {
    margin: 2px;
    padding: 0 4px;
}
.paginator .prev {
    margin-right: 20px;
}
.paginator .next {
    margin-left: 20px;
}
.paginator .next a, .paginator .prev a {
    margin: 0;
    padding: 0;
}
.paginator .count {
    font-size: 14px;
    margin-left: 20px;
}
.paginator .thispage {
    background: none repeat scroll 0 0 #83BF73;
    color: #FFFFFF;
}
.paginator .break {
    color: #999999;
}
.paginator .thispage {
    background: none repeat scroll 0 0 #83BF73;
    color: #FFFFFF;
}
.paginator .break {
    color: #999999;
}
.album {
    background: url("/pics/albumback.gif") no-repeat scroll 1px 1px transparent;
    padding: 4px 7px 7px 4px;
}
.album_s {
    background: url("/pics/albumback_s.gif") no-repeat scroll 1px 1px transparent;
    padding: 5px 8px 8px 5px;
}
.video_overlay {
    background: url("/pics/video_overlay.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 97px;
    left: 0;
    position: absolute;
    top: 0;
    width: 130px;
}
.video_overlay:hover {
    background-position: 0 -97px;
}
* html .video_overlay {
    background: none repeat scroll 0 center transparent;
}
* .videothumb {
    margin-left: 24px;
}
* .vthumbwrap {
    height: 97px;
    position: relative;
    text-align: center;
    width: 130px;
}
* .vthumbwrap img {
    height: 97px;
    width: 130px;
}
.pop_win_bg {
    background: none repeat scroll 0 0 #000000;
    border-radius: 6px 6px 6px 6px;
    opacity: 0.3;
    position: fixed;
}
.pop_win form {
    border: 1px solid #FFFFFF;
    margin: 0;
    padding: 0;
}
a.pop_win_close {
    color: #B4B4B4;
    font: 11px "Comic Sans MS";
    margin: 9px 10px 0 0;
    padding: 0 0.3em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
a.pop_win_close:hover {
    background: none repeat scroll 0 center transparent;
    color: #FAB0B6;
}
.pop_win {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    padding: 17px 14px 16px 12px;
    position: fixed;
    visibility: hidden;
}
#dialog {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    left: 50%;
    margin-top: -140px;
    padding: 0;
    position: fixed;
    top: 50%;
    width: 550px;
    z-index: 103;
}
#overlay {
    background-color: #333333;
    border-radius: 6px 6px 6px 6px;
    left: 50%;
    margin-left: -13px;
    margin-top: -148px;
    opacity: 0.2;
    position: fixed;
    top: 50%;
    width: 588px;
    z-index: 102;
}
.bgi {
    border: 0 none;
    left: 50%;
    margin-left: -250px;
    margin-top: -140px;
    position: fixed;
    top: 50%;
    width: 550px;
    z-index: 101;
}
* html #dialog {
    position: absolute;
}
* html #overlay {
    margin-top: -140px;
    position: absolute;
}
#dialog td {
    padding: 7px;
}
#dialog td.ul {
    padding: 0;
}
#dialog p {
    margin: 0;
}
#populartags {
    margin: 3px 0 10px;
}
#submits td {
    padding: 15px 0 5px;
}
* html #submits td {
    padding-bottom: 0;
}
.loadpop {
    padding: 30px;
    text-align: center;
}
#hiddendialog {
    display: none;
}
#actchoice {
    border-left: 1px dashed #DDDDDD;
    display: inline;
    float: right;
    padding: 0 0 0 5px;
    width: 100px;
}
#actchoice .m {
    margin-bottom: 40px;
}
#actchoice .rec-btn {
    margin: 0;
}
.rectitle {
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 19px;
    word-break: break-all;
}
#dialog .rectitle {
    background-color: #EBF5EB;
}
#dialog .rectitle .m {
    color: #007722;
    display: block;
    font-size: 14px;
    line-height: 1.6em;
}
#dialog .rectitle .m i {
    font-style: normal;
    margin-left: 0.5ex;
}
.recsmr {
    color: #666666;
    display: block;
    line-height: 1.6em;
    margin-bottom: 10px;
    padding: 0 19px;
}
#dialog .rectitle .gact a:link, #dialog .rectitle .gact a:visited, #dialog .rectitle .gact a:hover, #dialog .rectitle .gact a:active {
    font-size: 14px;
    padding: 0 4px;
}
.bn-small, a.bn-cta, .bn-cta input, .bn-flat input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
}
.lnk-flat, .bn-flat {
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #444444;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.lnk-flat, .bn-flat input {
    background: -moz-linear-gradient(center top , #FCFCFC, #E9E9E9) repeat-x scroll center top transparent;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 12px;
    height: 2.1em;
    line-height: 2.2;
    padding: 0 1.16em 2px;
}
.lnk-flat:hover, .bn-flat input:hover, .bn-flat-over {
    background-color: transparent;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #DDDDDD);
    border-color: #999999 #999999 #666666;
    color: #333333;
}
.lnk-flat:active, .bn-flat input:active, .bn-flat-active input {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #999999 #999999 #666666;
    color: #333333;
}
.lnk-flat {
    line-height: 2.2em;
}
.lnk-flat:link, .lnk-flat:visited {
    text-decoration: none;
}
a.bn-cta, .bn-cta input {
    background: none repeat scroll 0 0 #3FA156;
    border: 1px solid #528641;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 4px 20px;
}
a.bn-cta {
    vertical-align: middle;
}
.bn-cta input {
    padding: 5px 18px;
}
a.bn-cta:link, a.bn-cta:visited {
    color: #FFFFFF;
}
.bn-cta input:hover, a.bn-cta:hover {
    background-color: #4FCA6C;
    border-color: #6AAD54;
}
.bn-cta input:active, a.bn-cta:active {
    background-color: #3FA156;
    border-color: #528641;
}
.bn-small {
    background: none repeat scroll 0 0 #FFDDDD;
    border: 1px solid #FFABAB;
    border-radius: 3px 3px 3px 3px;
    color: #FF7676;
    line-height: 1.56;
    padding: 1px 2px;
}
a.bn-small:link, a.bn-small:visited, a.bn-small:hover, a.bn-small:active {
    background: none repeat scroll 0 0 #FFDDDD;
    color: #FF7676;
    font-size: 12px;
    line-height: 1.8;
    padding: 0 4px;
}
a.bn-small:hover, a.bn-small:active {
    background-color: #FF7676;
    border-color: #FF7676;
    color: #FFDDDD;
}
.recsubmit .bn-flat {
    margin: 0 10px;
}
.lnk-sharing {
    border: 1px solid #B9DCD0;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    padding: 0 8px;
    vertical-align: middle;
}
a.lnk-sharing:link, a.lnk-sharing:visited {
    background-color: #F2F8F2;
    border-color: #E3F1ED;
    color: #4F946E;
}
a.lnk-sharing:hover, a.lnk-sharing:active {
    background-color: #EFF5EF;
    border-color: #C4E2D8;
}
.rec-sec {
    color: #999999;
    text-align: right;
}
.rec-sec span {
}
a.a_rec_btn {
    display: inline-block;
    height: 20px;
    letter-spacing: 4px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 26px;
    text-align: left;
    vertical-align: bottom;
    width: 46px;
}
a.a_rec_btn:link, a.a_rec_btn:visited, a.a_rec_btn:hover, a.a_rec_btn:active {
    background: url("/pics/bg_rec_btn.png") no-repeat scroll 0 0 transparent;
    color: #4F946E;
}
a.a_rec_btn:hover, a.a_rec_btn:active {
    background-position: 0 -20px;
}
.aside .rec-comments {
    background: none repeat scroll 0 0 whiteSmoke;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}
.aside .rec-sec {
    margin-bottom: 20px;
}
.rec-num {
    margin: 0 0 0 2px;
}
.btn-fav {
    border: 1px solid #EDCEBA;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    margin-left: 4px;
    overflow: hidden;
    padding: 0 8px 0 30px;
    vertical-align: middle;
}
a.btn-fav:link, a.btn-fav:visited {
    background-color: #FFF6EE;
    border-color: #F2ECE7;
    color: #99776B;
}
a.btn-fav:hover, a.btn-fav:active {
    background-color: #FFF0E2;
    border-color: #EDCEBA;
    color: #99776B;
}
.fav-add, .fav-add:link, .fav-add:hover {
    background: url("/pics/ic_like.png") no-repeat scroll 8px 3px transparent;
}
.fav-cancel, .fav-cancel:link, .fav-cancel:hover {
    background: url("/pics/ic_like.png") no-repeat scroll 8px -17px transparent;
}
.fav-num {
    color: #666666;
    display: inline-block;
}
.fav-userlist {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    left: 50%;
    padding: 0 0 20px 10px;
    position: absolute;
    width: 210px;
}
.fav-userlist .bd {
    width: 97%;
}
.fav-userlist ul {
    margin-top: -2px;
}
.fav-userlist li {
    margin-top: 2px;
}
.fav-userlist .pic {
    margin-right: 8px;
}
.fav-userlist .pic img {
    vertical-align: middle;
}
.fav-userlist .hd {
    line-height: 1.2;
    padding: 5px 10px;
    position: relative;
    text-align: right;
}
.fav-userlist .arrow {
    background: url("/pics/bg_popup_arr.png") no-repeat scroll 0 0 transparent;
    height: 7px;
    left: 12px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 12px;
}
.arrow-bottom .arrow {
    background: url("/pics/bg_popup_arr.png") no-repeat scroll 0 -11px transparent;
    bottom: -6px;
    top: auto;
}
#db-usr-profile {
    height: 58px;
    left: 0;
    margin-bottom: 2em;
    position: relative;
    top: 0;
    width: 100%;
}
#db-usr-profile .pic {
    float: left;
    margin-right: 12px;
}
#db-usr-profile .info {
    float: left;
    padding-top: 2px;
}
#db-usr-profile a.colbutt {
    left: 640px;
    letter-spacing: 0;
    position: absolute;
    top: 35px;
}
#db-usr-profile p.att {
    background: url("/pics/allright-small.gif") no-repeat scroll left center transparent;
    left: 640px;
    margin: 0;
    padding-left: 20px;
    position: absolute;
    top: 38px;
}
#db-usr-profile .info ul li {
    display: inline;
    margin-right: 1em;
}
#db-usr-profile .info ul li.last {
    margin: 0;
}
#db-usr-profile h1 {
    padding: 0 0 4px;
}
#db-nav-movie .site-nav-items li.site-nav-bt {
    padding-top: 8px;
}
#db-nav-movie .site-nav-items li.site-nav-bt a:link, #db-nav-movie .site-nav-items li.site-nav-bt a:visited, #db-nav-movie .site-nav-items li.site-nav-bt a:hover, #db-nav-movie .site-nav-items li.site-nav-bt a:active {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 2px 2px 2px 2px;
    color: #0090B3;
    display: block;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    padding: 4px 0;
    text-align: center;
    white-space: nowrap;
    width: 60px;
    word-break: keep-all;
}
.xbar {
    background: url("/pics/zbar.gif") no-repeat scroll 0 0 transparent;
    margin-bottom: 21px;
    overflow: hidden;
    width: 100%;
}
.xbar div {
    background: url("/pics/zbar.gif") no-repeat scroll right top transparent;
    float: right;
    margin-left: 5px;
    padding-right: 35px;
}
.xbar a {
    display: block;
    float: right;
    line-height: 14px;
    margin: 5px 5px 1px;
    padding: 3px 5px 2px;
    text-decoration: none;
}
.xbar a:hover {
    color: white;
}
.xbar span.now {
    background: url("/pics/wztab.gif") no-repeat scroll right top transparent;
    display: block;
    float: right;
    margin: 0 5px;
    padding: 0 10px 0 0;
}
.xbar span.now span {
    background: url("/pics/wztab.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding: 6px 1px 5px 11px;
}
