@CHARSET "UTF-8";

#hd, #bd {
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
}
#hd {
    margin-bottom: 25px;
    padding-top: 30px;
}
.main {
    float: left;
    width: 903px;
}
.side {
    float: right;
    width: 192px;
}
#nav {
    margin-bottom: 36px;
}
#ft {
    color: #999999;
    overflow: hidden;
}
#icp a:link, #icp a:visited {
    color: #999999;
}
#icp a:hover, #icp a:active {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}
.site-logo {
    float: left;
    width: 160px;
}
.site-logo a {
    color: transparent;
    display: block;
    height: 32px;
    line-height: 10em;
    overflow: hidden;
}
.site-logo a:link, .site-logo a:visited, .site-logo a:hover, .site-logo a:active {
    background: url("/pics/lg_sns.png") no-repeat scroll 0 0 transparent;
}
.hd-usr {
    float: right;
    margin-top: 10px;
    white-space: nowrap;
}
.hd-usr li {
    display: inline;
    margin-left: 20px;
    position: relative;
}
.hd-usr a, .hd-usr a:link, .hd-usr a:visited {
    color: #28973B;
    font-size: 12px;
}
.hd-usr a:hover {
    background-color: #28973B;
    color: #FFFFFF;
}
.hd-usr a:active {
    background-color: #FF9933;
}
.remind, .remind i {
    font-size: 12px;
    font-style: normal;
}
.remind i {
    padding: 0 6px;
}
.remind {
    background: none repeat scroll 0 0 #E53600;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    left: 70%;
    line-height: 1.5;
    position: absolute;
    top: -100%;
    z-index: 1;
}
.lnk-account i {
    border-color: #CCCCCC transparent transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    display: inline-block;
    height: 0;
    line-height: 0;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    top: -2px;
    width: 0;
}
.lnk-account:hover i {
    border-top-color: #FFFFFF;
}
#nav {
    clear: both;
    letter-spacing: -0.31em;
}
#nav li {
    background: url("/pics/bg_ps.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 66px;
    letter-spacing: normal;
    line-height: 100em;
    margin-right: 33px;
    overflow: hidden;
    vertical-align: top;
    width: 72px;
    word-spacing: normal;
}
#nav a {
    display: block;
    height: 66px;
}
#nav a:hover, #nav a:active {
    background-color: transparent;
}
#nav .last {
    margin-right: 56px;
}
#nav .more {
    background: none repeat scroll 0 center transparent;
    color: #CCCCCC;
    font-size: 21px;
    line-height: 66px;
    margin: 0;
}
#nav .sns {
    background-position: -72px 0;
}
#nav .book {
    background-position: -144px 0;
}
#nav .movie {
    background-position: -216px 0;
}
#nav .music {
    background-position: -288px 0;
}
#nav .events {
    background-position: -360px 0;
}
#nav .fm {
    background-position: -432px 0;
}
#usr-profile .usr-info {
    margin-bottom: 30px;
    overflow: hidden;
}
#usr-profile .pic {
    float: left;
    margin-right: 12px;
}
#usr-profile .addr {
    color: #666666;
}
#usr-profile .name {
    color: #333333;
    font-size: 14px;
}
#usr-profile .usr {
    line-height: 48px;
    overflow: hidden;
}
#usr-profile .usr-stat .lnk-num {
    font-size: 14px;
    margin-left: 0.5em;
}
#usr-profile .usr-stat li {
    margin-top: 5px;
}
#usr-profile .usr-stat a.lnk-num:link, #usr-profile .usr-stat a.lnk-num:visited {
    color: #459553;
}
#usr-profile .usr-stat a.lnk-num:hover, #usr-profile .usr-stat a.lnk-num:active {
    background: none repeat scroll 0 0 #459553;
    color: #FFFFFF;
}
#usr-login h2 {
    color: #34A747;
    font-size: 24px;
    margin-bottom: 20px;
}
.lnk-cta {
    display: block;
    margin-bottom: 25px;
    padding: 8px 0;
    text-align: center;
}
a.lnk-cta:link, a.lnk-cta:visited, a.lnk-cta:hover, a.lnk-cta:active {
    background: none repeat scroll 0 0 #34A747;
    color: #FFFFFF;
    font-size: 16px;
}
#confirm_delete {
    display: none;
}
.main {
    width: 950px;
}
.side {
    width: 245px;
}
.item-b {
    overflow: hidden;
    width: 436px;
}
.guess-list .item-a, .guess-list .item-c {
    overflow: hidden;
    width: 218px;
}
.mod {
    margin-bottom: 30px;
}
.side .bn-create {
    display: none;
}
#db-online-events li {
    margin-top: 12px;
}
#db-online-events li:last-child {
    margin-top: 8px;
}
#db-online-events .desc {
    color: #999999;
    line-height: 1.4;
}
#db-sites .item {
    margin-bottom: 20px;
}
.side .item {
    overflow: hidden;
}
.side .item .pic {
    float: left;
    margin-right: 12px;
}
.side .item .info {
    color: #999999;
    overflow: hidden;
}
.side .item p {
    line-height: 1.4;
    margin: 6px 0 0;
}
a.reply_notify_delete:link, a.reply_notify_delete:visited {
    color: #999999;
}
a.reply_notify_delete:hover, a.reply_notify_delete:active {
    background-color: #999999;
    color: #FFFFFF;
}
.item .info h3 {
    background: none repeat scroll 0 center transparent;
    font-size: 12px;
    height: auto;
    margin-left: 0;
}
#db-reply-notify {
    color: #666666;
}
#db-reply-notify th {
    display: none;
}
#db-reply-notify .dater {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
#pop_win_login input {
    margin-right: 0 !important;
}
body {
    margin-top: 0;
}
#header {
    background: none repeat scroll 0 center transparent;
    margin: 0 0 40px;
    position: relative;
    width: 100%;
}
#searbar {
    margin: 0;
}
#header:after, .site-nav:after, .top-nav-items:after, .top-nav:after, .site-nav .bd:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.top-nav {
    border-bottom: 1px dashed #D4D4D4;
    clear: both;
    color: #D4D4D4;
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.top-nav .bd {
    margin: 0 auto;
    width: 950px;
}
.top-nav-items {
    float: left;
    font-size: 12px;
    margin-top: 3px;
}
.top-nav-items li {
    display: inline;
    float: left;
    margin: 2px 20px 0 0;
}
.top-nav-items li.top-nav-more {
    left: 0;
    position: relative;
    top: -1px;
    z-index: 50;
}
.top-nav-items li.top-nav-more a {
    color: #566D5E;
}
.top-nav-items li.top-nav-more a:hover {
    color: #FFFFFF;
}
.top-nav-items li .top-nav-more-items {
    padding: 1px 4px;
    position: absolute;
    width: 50px;
    z-index: 2;
}
.top-nav-items li .top-nav-more-items.on {
    height: 80px;
}
.top-nav-items li .top-nav-more-items a {
    padding: 0;
}
.top-nav-items li .arrow {
    border-color: #566D5E transparent transparent;
    border-style: solid dashed dashed;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    vertical-align: middle;
    width: 0;
}
.top-nav-items li a:hover .arrow {
    border-color: #FFFFFF transparent transparent;
}
.top-nav-items li .top-nav-more-items ul {
    display: none;
    overflow: hidden;
}
.top-nav-items li .top-nav-more-items ul li {
    display: block;
    float: none;
    margin: 0;
}
.top-nav-items li .top-nav-more-items ul li a {
    display: inline-block;
    width: 100%;
}
.top-nav-items li .on {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 0 3px;
}
.top-nav-items li .on ul {
    display: block;
}
.nav-srh {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 38px;
    padding-left: 5px;
}
.nav-srh form {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll 100% 0 transparent;
    height: 38px;
    padding: 0 1px 0 0;
}
.nav-srh input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A6D098;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 2px;
    width: 300px;
}
.nav-srh .inp {
    padding-top: 5px;
    position: relative;
    width: 366px;
}
.nav-srh label {
    color: #DDDDDD;
    cursor: text;
    left: 4px;
    line-height: 24px;
    position: absolute;
    top: 5px;
}
.nav-srh .bn-srh {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll 0 -100px transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 13px;
    height: 29px;
    letter-spacing: 3px;
    padding: 1px 0 3px 3px;
    text-align: center;
    width: 54px;
}
.nav-srh .bn-srh {
}
label.inp-placeholder {
    color: #C6C6C6;
    cursor: text;
    left: 0;
    line-height: 1.4;
    margin-left: 9px;
    position: absolute;
    transition: color 0.2s ease 0s;
    white-space: nowrap;
}
label.inp-active {
    color: #DDDDDD;
}
.humble-form input.text {
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    height: 1.2em;
    line-height: 1.2;
    padding: 7px 6px;
    width: 290px;
}
.humble-form .bn-srh {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll -191px -102px transparent;
    border: 0 none;
    cursor: pointer;
    height: 23px;
    margin-left: -28px;
    overflow: hidden;
    text-indent: -100px;
    width: 23px;
}
.humble-form label.inp-placeholder {
    margin-top: 2px;
}
.pro-nav .nav-srh {
    float: left;
}
.site-nav {
    clear: both;
    height: 36px;
    width: 100%;
}
.site-nav .bd {
    float: right;
    height: 36px;
    width: 84%;
}
.site-nav-logo {
    float: left;
    position: relative;
}
#db-nav-main .bd {
    background-color: #E7F3E7;
    width: 774px;
}
.site-nav-logo a:hover, .site-nav-logo a:active, .site-nav-logo a {
    background: none repeat scroll 0 0 transparent;
}
.top-nav-info {
    float: right;
    margin-top: 5px;
}
.top-nav a:link, .top-nav a:visited, .top-nav a:hover, .top-nav a:active {
    color: #566D5E;
}
.top-nav a:hover {
    background-color: #566D5E;
    color: #FFFFFF;
}
.top-nav li.on {
    color: #000000;
}
.top-nav li.on, .top-nav li.on a:link, .top-nav li.on a:visited, .top-nav li.on a:hover, .top-nav li.on a:active {
    color: #219A44;
    font-weight: 800;
}
.top-nav li.on a:hover {
    background: none repeat scroll 0 0 #219A44;
    color: #FFFFFF;
}
.top-nav em, .site-nav em {
    font-style: normal;
}
.top-nav-info a {
    margin-left: 10px;
}
.site-nav-items {
    color: #D4D4D4;
    float: left;
    left: 0;
    line-height: 36px;
    padding-left: 28px;
    position: relative;
    top: 0;
}
.site-nav-items #online_guide {
    border: 1px solid #9BC59B;
    border-radius: 4px 4px 4px 4px;
    color: #6C6869;
    left: 180px;
    line-height: 20px;
    padding: 6px;
    position: absolute;
    top: 37px;
    width: 120px;
}
.site-nav-items #online_guide .arrowUp {
    border-color: transparent transparent #FFFFFF;
    border-left: 6px dashed transparent;
    border-style: dashed dashed solid;
    border-width: 6px;
    font-size: 0;
    height: 0;
    left: 95px;
    line-height: 0;
    position: absolute;
    top: -12px;
    width: 0;
    z-index: 2;
}
.site-nav-items #online_guide .arrowUpBorder {
    border-color: transparent transparent #9BC59B;
    border-left: 7px dashed transparent;
    border-style: dashed dashed solid;
    border-width: 7px;
    font-size: 0;
    height: 0;
    left: 94px;
    line-height: 0;
    position: absolute;
    top: -14px;
    width: 0;
}
.site-nav-items li {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll 0 -140px transparent;
    display: inline;
    float: left;
    margin-right: 14px;
}
.site-nav-items li a:link, .site-nav-items li a:hover, .site-nav-items li a:visited, .site-nav-items li a:active {
    color: #0C7823;
    font-size: 14px;
    margin-left: 14px;
    vertical-align: middle;
}
.site-nav-items li a:hover {
    background-color: #0C7823;
    color: #FFFFFF;
}
.site-nav h1 {
    font-size: 21px;
    padding: 8px 0;
}
.nav-tip {
    line-height: 2;
    margin-bottom: -2em;
    text-align: right;
}
.nav-tip a {
    margin-left: 10px;
}
.srh-group {
    border-top: 1px solid #DDDDDD;
    margin-top: 5px;
    padding-top: 5px;
}
.srh-group a:hover {
    background: none repeat scroll 0 0 #777777 !important;
}
.single-nav {
    padding-top: 15px;
}
.blur {
    color: #DDDDDD;
}
.submenu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B6C9C1 #B6C9C1 #B6C9C1 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    float: left;
    height: 21px;
    margin: 0 2px 0 -5px;
    padding: 2px 0 1px;
    position: relative;
    width: 45px;
}
.submenu .menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6C9C1;
    position: absolute;
    right: -1px;
    top: 24px;
    width: 85px;
}
.submenu .selected {
    border-left: 1px solid #B6C9C1;
    cursor: pointer;
    padding: 0 0 0 5px;
}
.submenu .selected span {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll -240px -124px transparent;
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 10px;
    width: 7px;
}
.submenu .menu li {
    width: 100%;
}
.submenu .menu a {
    display: block;
    padding: 2px 10px;
}
.nav-srh .open span {
    background-position: -240px -100px;
}
.submenu .line {
    border-bottom: 1px solid #C3C3C3;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin-bottom: 1px;
    overflow: hidden;
}
a.bn-radio:link, a.bn-radio:visited, a.bn-radio:hover, a.bn-radio:active {
    background: url("/pics/nav/ic_radio2.gif") no-repeat scroll 0 0 transparent;
    height: 14px;
    line-height: 15px;
    margin: 0 4px;
    overflow: hidden;
    padding: 0 0 0 24px;
    position: relative;
    vertical-align: text-bottom;
}
a.bn-radio:hover {
    background-color: #6A7E71;
    color: #FFFFFF;
}
#db-nav-movie .site-nav-items li {
    margin-right: 9px;
}
#db-nav-movie .nav-srh {
    background-position: 0 -50px;
}
#db-nav-movie .nav-srh form {
    background-position: 100% -50px;
}
#db-nav-movie .nav-srh input {
    border-color: #8CD4DE;
}
#db-nav-movie .nav-srh .bn-srh {
    background-position: -130px -100px;
}
#db-nav-movie .site-nav-items li a:link, #db-nav-movie .site-nav-items li a:hover, #db-nav-movie .site-nav-items li a:visited, #db-nav-movie .site-nav-items li a:active {
    color: #0090B3;
    font-size: 14px;
    margin-left: 12px;
    vertical-align: middle;
}
#db-nav-movie .site-nav-items li a:hover {
    background-color: #0090B3;
    color: #FFFFFF;
}
#db-nav-movie .site-nav-items li.new a:link, #db-nav-movie .site-nav-items li.new a:visited, #db-nav-movie .site-nav-items li.new a:active {
    color: #FF9933;
}
#db-nav-movie .site-nav-items li.new a:hover {
    background: none repeat scroll 0 0 #FF9933;
    color: #FFFFFF;
}
#db-nav-book .site-nav-items li {
    margin-right: 9px;
}
#db-nav-book .site-nav-items li a:link, #db-nav-book .site-nav-items li a:hover, #db-nav-book .site-nav-items li a:visited, #db-nav-book .site-nav-items li a:active {
    margin-left: 12px;
}
#db-nav-book .site-nav-items li.annotation {
    position: relative;
}
#db-nav-book .site-nav-items li.annotation sub {
    background: url("/pics/icon/sub_book_annotation.gif") no-repeat scroll right center transparent;
    height: 10px;
    position: absolute;
    right: -20px;
    text-indent: -9999px;
    top: 0;
    width: 20px;
    z-index: 2;
}
#db-nav-book li .lnk-buy {
    background: url("/pics/nav/ui_ns_sbg4.png") no-repeat scroll -280px -120px transparent;
    color: #368332;
    display: inline-block;
    font-size: 12px;
    height: 21px;
    line-height: 22px;
    overflow: hidden;
    width: 66px;
}
:first-child + html #db-nav-book .nav-anon .lnk-buy {
    margin-top: 0;
}
#db-nav-movie .site-nav-items, #db-nav-book .site-nav-items {
    padding-left: 20px;
}
#db-nav-book .site-nav-items {
}
#db-nav-book li .lnk-buy em {
    margin-left: 24px;
}
#db-nav-book li.site-nav-prom {
    left: 0;
    position: relative;
    top: 0;
}
* + html #db-nav-book li.site-nav-prom {
    top: -4px;
}
#db-nav-book li.site-nav-prom sup {
    background-image: url("/pics/icon/cart_coupon_status.gif");
    background-repeat: no-repeat;
    height: 10px;
    left: 65px;
    line-height: 10px;
    position: absolute;
    text-indent: -9999px;
    top: -2px;
    width: 60px;
}
#db-nav-book li.site-nav-prom sup.coupon {
    background-position: 0 0;
}
#db-nav-book li.site-nav-prom sup.re-arrival {
    background-position: 0 -10px;
}
#db-nav-main .site-nav-items li {
    background: none repeat scroll 0 center transparent;
    color: #E9F4E9;
    margin-right: 26px;
}
#db-nav-main .site-nav-items li a {
    margin: 0;
}
#db-nav-main .bd {
    background-color: #E9F4E9;
}
#db-nav-main .nav-srh input {
    height: 24px;
    width: 264px;
}
#db-nav-main .nav-srh .inp {
    width: 300px;
}
#db-nav-music .site-nav-items li {
    background: none repeat scroll 0 center transparent;
    color: #EFF2EF;
    margin-right: 30px;
}
#db-nav-music .bd {
    background-color: #E9EDE9;
}
#db-nav-main .nav-srh, #db-nav-main .nav-srh form, #db-nav-music .nav-srh, #db-nav-music .nav-srh form {
    background: none repeat scroll 0 center transparent;
}
#db-nav-main .nav-srh, #db-nav-music .nav-srh {
    float: right;
    height: 36px;
}
#db-nav-main .nav-srh form, #db-nav-music .nav-srh form {
    height: 36px;
}
#db-nav-music .nav-srh input {
    height: 24px;
    width: 235px;
}
#db-nav-main .nav-srh .bn-srh, #db-nav-music .nav-srh .bn-srh {
    height: 26px;
    width: 50px;
}
#db-nav-music .nav-srh .inp {
    width: 300px;
}
#db-nav-music .site-nav-items li a:link, #db-nav-music .site-nav-items li a:hover, #db-nav-music .site-nav-items li a:visited, #db-nav-music .site-nav-items li a:active {
    color: #3B5343;
    font-size: 14px;
    margin-left: 0;
    vertical-align: middle;
}
#db-nav-music .site-nav-items li a:hover {
    background-color: #607869;
    color: #FFFFFF;
}
#db-nav-music .nav-srh input {
    border-color: #B6C9C1;
}
#db-nav-music .nav-srh .bn-srh {
    background-position: -60px -100px;
}
#db-nav-main .nav-srh .bn-srh {
    background-position: -190px -100px;
    margin-left: -4px;
    overflow: hidden;
    text-indent: -100px;
    width: 27px;
}
#db-nav-main .site-nav-logo {
    padding-top: 3px;
}
#db-nav-music .site-nav-logo, #db-nav-movie .site-nav-logo, #db-nav-book .site-nav-logo {
    padding-top: 5px;
}
#db-nav-music .site-nav-logo a:hover img, #db-nav-movie .site-nav-logo a:hover img, #db-nav-book .site-nav-logo a:hover img, #db-nav-location .site-nav-logo a:hover img {
    opacity: 0.8;
}
.block4 {
    clear: both;
    margin-bottom: 30px;
}
#db-music-artists .headline {
    margin-bottom: 30px;
    width: 100%;
}
#db-music-artists .item:after, #db-music-artists .headline:after {
    clear: both;
    content: " ";
    display: block;
}
#db-music-artists .headline h3 {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    margin: 0;
}
#db-music-artists {
    color: #535353;
}
#db-music-artists .headline .pic {
    float: left;
    margin-right: 20px;
}
#db-music-artists .headline .pic img {
    margin-bottom: -6px;
}
#db-music-artists .headline p {
    margin: 5px 0;
}
#db-music-artists .item {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: top;
    width: 46%;
}
#db-music-artists .item .pic {
    width: 60px;
}
#db-music-artists .item .pic, #db-music-artists .item .info {
    display: table-cell;
    vertical-align: top;
}
#db-event-hosts .group {
    border-bottom: 1px dashed #DDDDDD;
    clear: both;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
#db-event-hosts .group:after {
    clear: both;
    content: " ";
    display: block;
}
#db-event-hosts .group li {
    float: left;
    height: 22px;
    margin-right: 1%;
    overflow: hidden;
    white-space: nowrap;
    width: 32.3%;
}
#db-nav-location {
    position: relative;
    z-index: 1;
}
#db-nav-location .site-nav-logo {
    height: 35px;
    overflow: hidden;
    width: 124px;
}
#db-nav-location .site-nav-logo img {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 3px;
    vertical-align: text-top;
}
#db-nav-location .site-nav-logo em {
    margin-left: -9999em;
}
#db-nav-location .site-nav-items li {
    background: none repeat scroll 0 center transparent;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    margin-right: 30px;
    position: relative;
}
#db-nav-location .site-nav-items li span {
    vertical-align: middle;
}
#db-nav-location .site-nav-items li a {
    margin: 0;
}
#db-nav-location .site-nav-items a:link, #db-nav-location .site-nav-items a:visited {
    color: #0192B5;
}
#db-nav-location .site-nav-items a:hover, #db-nav-location .site-nav-items a:active {
    background-color: #0192B5;
    color: #FFFFFF;
}
#db-nav-location .bd {
    float: left;
    margin-right: -1000em;
    width: auto;
}
#db-nav-location .local-label {
    float: left;
    height: 36px;
    padding: 5px 22px 0 25px;
    position: relative;
}
#db-nav-location .local-label a.label:link, #db-nav-location .local-label a.label:visited, #db-nav-location .local-label a.label:hover, #db-nav-location .local-label a.label:active {
    background-color: #E6E6E6;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    display: inline-block;
    float: left;
    font: 700 14px/1 tahoma,arial,'stheiti','榛戜綋',sans-serif;
    padding: 6px 10px 7px;
}
#db-nav-location .local-label a.label:hover {
    background-color: #EEEEEE;
}
#db-nav-location .local-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    display: none;
    left: 24px;
    padding: 12px 0 6px 20px;
    position: absolute;
    top: 34px;
    width: 16.2em;
    z-index: 10;
}
#db-nav-location .local-list li {
    display: inline-block;
    margin: 0 -3px 6px 0;
    vertical-align: top;
    white-space: nowrap;
    width: 4em;
}
#db-nav-location .local-label em {
    border-color: #333333 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 5px 5px 0;
    display: inline-block;
    height: 0;
    line-height: 0;
    margin-left: 5px;
    margin-top: -4px;
    vertical-align: middle;
    width: 0;
}
#db-nav-location .label-active em {
    border-color: transparent transparent #333333;
    border-style: dashed dashed solid;
    border-width: 0 5px 5px;
    margin-top: -4px;
}
#db-nav-location .ic_new {
    background: url("/pics/icon/ic_new.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    margin: 8px 0 0;
    overflow: hidden;
    position: absolute;
    width: 20px;
}
#loc-nav-search {
    background: none repeat scroll 0 center transparent;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4px;
    z-index: 2;
}
#loc-nav-search input.text {
    width: 296px;
}
#loc-nav-search .bn-srh {
    margin-top: 4px;
}
#db-nav-group .bd {
    background-color: #F0F4F5;
}
#db-nav-group .site-nav-items li {
    background: none repeat scroll 0 center transparent;
    color: #EFF2EF;
    margin-right: 30px;
}
#db-nav-group .nav-srh {
    float: right;
    height: 36px;
}
#db-nav-group .nav-srh, #db-nav-group .nav-srh form {
    background: none repeat scroll 0 center transparent;
}
#db-nav-group .nav-srh form {
    height: 36px;
}
#db-nav-group .nav-srh input {
    height: 24px;
    width: 235px;
}
#db-nav-group .nav-srh .bn-srh {
    height: 26px;
    width: 50px;
}
#db-nav-group .nav-srh .inp {
    width: 300px;
}
#db-nav-group .nav-srh input {
    border-color: #B5C9C0;
}
#db-nav-group .nav-srh .bn-srh {
    background-position: -60px -100px;
}
#db-nav-group .site-nav-items li a:link, #db-nav-group .site-nav-items li a:visited, #db-nav-group .site-nav-items li a:hover, #db-nav-group .site-nav-items li a:active {
    color: #0A83A0;
}
#db-nav-group .site-nav-items li a:hover, #db-nav-group .site-nav-items li a:active {
    background-color: #0A83A0;
    color: #FFFFFF;
}
#db-nav-group .site-nav-logo {
    padding-top: 5px;
}
#db-nav-group .site-nav-logo a:hover img {
    opacity: 0.8;
}
.guess-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #EEEBE7 #EEEBE7 -moz-use-text-color;
    border-image: none;
    border-right: 1px solid #EEEBE7;
    border-style: none solid solid none;
    border-width: 0 1px 1px medium;
    overflow: hidden;
}
.guess-list li.item-top1 {
    background: none repeat scroll 0 0 #E6F4F4;
    border: 1px solid #EEEBE7;
    height: 313px;
    width: 481px;
}
.guess-list .item-top2 {
    background: none repeat scroll 0 0 #F3F6F1;
}
.item-top1 .pic {
    float: right;
}
.item-subject .title {
    text-align: center;
}
.item-b, .item-c {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
}
.item-a, .item-b, .item-c {
    background: url("/pics/bg_line.png") repeat-y scroll 0 0 transparent;
    border-top: 1px solid #EEEBE7;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}
.group {
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}
.guess-list .section {
    overflow: hidden;
}
.guess-list .section .item-a {
    float: right;
}
.guess-list .with-group .group {
    letter-spacing: -0.31em;
    overflow: hidden;
    word-spacing: -0.43em;
}
.guess-list .item {
    padding: 25px 25px 0;
}
.guess-list .artist {
    display: block;
    margin-top: 4px;
}
.guess-list .fav-btn {
    margin-top: -10px;
    padding: 0 25px 25px;
    white-space: nowrap;
}
.guess-list .source {
    color: #808080;
    margin-top: 10px;
}
.guess-list .source img {
    margin-right: 5px;
}
.guess-list a:link, .guess-list a:visited, .guess-list a:hover, .guess-list a:active {
    background: none repeat scroll 0 center transparent;
    color: #666666;
}
.guess-list .item, .guess-list a.item:link, .guess-list a.item:visited, .guess-list a.item:hover, .guess-list a.item:active {
    display: block;
    outline: 0 none;
}
.guess-list .title {
    color: #666666;
    line-height: 1.4;
    margin: 0 0 12px;
}
.guess-list h3 {
    background: none repeat scroll 0 center transparent;
    color: #333333;
    height: auto;
    line-height: 1.3;
    margin: 0;
}
.guess-list h3 a:link, .guess-list h3 a:visited, .guess-list h3 a:hover {
    color: #333333;
}
.guess-list .desc .inner {
    line-height: 1.5;
    max-height: 54px;
    overflow: hidden;
}
.guess-list .desc {
    line-height: 1.5;
    margin: 0 0 25px;
    max-height: 54px;
    overflow: hidden;
}
.guess-list .item-subject .desc .inner {
    max-height: 90px;
}
.guess-list .item-subject .desc {
    background: none repeat scroll 0 0 #F7F7F7;
    max-height: 90px;
    padding: 20px 18px;
}
.guess-list .desc-event {
    max-height: 72px;
}
.guess-list .desc .img {
    float: right;
    height: 100px;
    margin-left: 15px;
    overflow: hidden;
    width: 100px;
}
.guess-list .title .rating {
    color: #E82100;
    font-size: 11px;
    letter-spacing: -0.05em;
    padding-top: 5px;
    word-spacing: -0.1em;
}
.guess-list .rating b {
    color: #333333;
    font-size: 11px;
    font-style: normal;
    margin-left: 5px;
    word-spacing: normal;
}
.guess-list .desc p {
    line-height: 1.5;
    margin: 8px 0 0;
}
.guess-list .desc .br {
    display: block;
}
.guess-list .online-desc {
    line-height: 0;
    margin-bottom: 25px;
    overflow: hidden;
}
.guess-list .online-desc .pics {
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
}
.guess-list .online-desc .pics li {
    display: inline-block;
    font-size: 0;
    letter-spacing: normal;
    margin: 0 4px 4px 0;
    max-height: 50px;
    overflow: hidden;
    vertical-align: top;
    word-spacing: normal;
}
.guess-list .pic {
    margin-bottom: 15px;
    max-height: 255px;
    overflow: hidden;
    text-align: center;
}
.guess-list .fav-users {
    color: #E19C88;
    margin: -3px 0 25px;
}
.guess-list .title .fav-users {
    color: #666666;
    margin: 0;
    padding-top: 7px;
}
.guess-list .follow-users {
    color: #999999;
    padding-top: 4px;
}
.guess-list .summary {
    color: #999999;
    padding-top: 4px;
}
.guess-list .mover img {
    opacity: 0.8;
}
.guess-list .mover .title .fav-users {
    color: #777777;
}
.guess-list .mover .title .source {
    color: #666666;
}
.guess-list .mover .title .rating {
    color: #E82100;
}
.guess-list .mover .desc {
    color: #333333;
}
.guess-list .mover .title div {
    color: #888888;
}
.guess-list .mover .title h3 {
    color: #000000;
}
.guess-list .mover .title h3 a:link, .guess-list .mover .title h3 a:visited {
    color: #888888;
}
.fav-btn a {
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    font-weight: 800;
    line-height: 1.2;
    padding: 5px 6px;
}
.fav-btn a:link, .fav-btn a:visited {
    background: none repeat scroll 0 0 #FAE9DA;
    color: #CA6445;
}
.fav-btn a:hover, .fav-btn a:active {
    background: none repeat scroll 0 0 #FCEFE3;
    color: #D9896A;
}
.fav-btn a.selected:link, .fav-btn a.selected:visited {
    background: none repeat scroll 0 0 #D9896A;
    color: #FAE7D6;
}
.fav-btn i, .fav-users i {
    font-style: normal;
    font-weight: normal;
}
.fav-btn .fav-users {
    margin-left: 10px;
    white-space: normal;
    word-wrap: break-word;
}
.ua-ie6 .guess-list .desc .inner {
}
.ua-ie6 .guess-list .desc {
}
.ua-ie6 .guess-list .item-subject .desc .inner {
}
.ua-ie6 .guess-list .item-subject .desc {
}
.ua-ie6 .guess-list .desc-event {
}
